nav, footer {
  text-align: center;
  padding: 10px;
}

.App {
  justify-content: center;
  align-items: start;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

div.App {
    justify-content: space-between;
    align-items: start;
}

div.App > div {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

footer {
  margin-top: auto;
}

.layout .react-grid-item {
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.layout .react-grid-item > div {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.add-snippet-button{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center; /* Center the plus sign horizontally */
  margin: 10px auto; /* Vertical margin and horizontal auto for centering */
  font-size: 24px; /* Size of the plus sign */
  cursor: pointer; /* Change cursor to pointer on hover */
  background-color: #b2b2b2; /* Background color */
  color: white; /* Color of the plus sign */
  border-radius: 50%; /* Make it circular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}