nav, footer {
  text-align: center;
  padding: 10px;
}

.App {
  justify-content: center;
  align-items: start;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

div.App {
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

div.App > div {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 20px;
}

.layout {
  /* background-color: #222121;
  border: 1px solid #252525; */
  padding: 10px;
}

.layout .react-grid-item {
  /* border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.layout .react-grid-item > div {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
