nav, footer {
  text-align: center;
  padding: 10px;
}

.App {
  justify-content: center;
  align-items: start;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

div.App {
    justify-content: space-between;
    align-items: start;
}

div.App > div {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

footer {
  margin-top: auto;
}

.layout .react-grid-item {
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.layout .react-grid-item > div {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.add-snippet-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.add-snippet-button img {
  width: 100%;
  height: auto;
}
.add-snippet-container {
  position: relative;
}
